@model YFS_MVC.Models.BillModel

@{
    ViewBag.Title = "Create a New Bill";
    
    //Model.Roommates = ViewBag.Roommates;
}

<h2>Create a New Bill</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.BillName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DueDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DueDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DueDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <ul class="list-unstyled list-group list-group-horizontal">
                @for (int i = 0; i < Model.Roommates.Count; i++)
                {
                    @Html.HiddenFor(r => r.Roommates[i].RoommateId)
                    @Html.CheckBoxFor(r => r.Roommates[i].IsSelected);
                    @Html.HiddenFor(r => r.Roommates[i].FirstName);
                    @Html.HiddenFor(r => r.Roommates[i].LastName);
                    @Model.Roommates[i].FirstName;

        
                }


            </ul>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to All Bills", "ViewBills")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
