@model IEnumerable<YFS_MVC.ViewModels.BillWithAssignedViewModel>

@{
    ViewBag.Title = "ViewbillsWithAssigned";
    ViewBag.NumberOfBills = 1;
}

<div class="container ">
    <div class="row">
        <div class="col-lg-10">
            <h2 class="text-info ">View Bills With Assigned</h2>
        </div>
    </div>
</div>
    
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <div id="accordion">
                @foreach (var item in Model)
                {


                    <div class="card">
                        <div class="card-header" id="@(item.Bill.BillName + "headingOne")">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#@(item.Bill.BillName + "collapseOne")" aria-expanded="false" aria-controls="@(item.Bill.BillName + "collapseOne")">
                                    @Html.DisplayFor(model => item.Bill.BillName)
                                </button>
                            </h5>
                        </div>

                        <div id="@(item.Bill.BillName + "collapseOne")" class="collapse" aria-labelledby="@(item.Bill.BillName + "headingOne")" data-parent="#accordion">
                            <div class="card-body">
                                @foreach (var r in item.Roommates)
                                    {
                                <div class="contrainer">
                                    <div class="row">
                                        <div class="col-6">
                                            <a class="dropdown-item" href="#">@Html.DisplayFor(modelItem => r.FullName)</a>
                                        </div>
                                        <div class="col-3">
                                            <a class="dropdown-item" href="#">@Html.DisplayFor(modelItem => r.MonthlyPayment)</a>
                                        </div>
                                        <div class="col-3">
                                            @Html.ActionLink("MAKE PAYMENT", "AddPayment", "Payment", new {RoommateId = r.RoommateId, BillId = item.Bill.ID, amountOwed = r.MonthlyPayment}, new { @class = "btn btn-info p-3" })
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                    
                                }
                            </div>
                        </div>
                    </div>
                }
                    
            </div>
        </div>
    </div>
</div>