@model IEnumerable<YFS_MVC.ViewModels.BillWithAssignedViewModel>

@{
    ViewBag.Title = "ViewbillsWithAssigned";
}

    <div class="container ">
        <div class="row">
            <div class="col-lg-10">
                <h2 class="text-info ">View Bills With Assigned</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <table class="table">
                    <thead>
                        <tr class="bg-primary">
                            <th>
                                @Html.DisplayNameFor(model => model.Bill.BillName)
                                
                            </th>
                            <th>@Html.DisplayNameFor(model => model.Bill.Amount)</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                <div class="container">
                                    @foreach (var r in item.Roommates)
                                    {
                                        <a class="dropdown-item" href="#">@Html.DisplayFor(modelItem => r.FullName)</a>
                                        <a class="dropdown-item" href="#">@Html.DisplayFor(modelItem => r.MonthlyPayment)</a>/*This is the wrong number*/
                                @*<div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        @Html.DisplayFor(modelItem => item.Bill.BillName)
                                    </button>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    </div>
                                </div>*@  
                                    }

                                </div>
                                
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.Bill.Amount)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>