@page
@model ViewHouseHoldModel
@{
    ViewData["Title"] = "View HouseHold";
}

<h1 class="text-lg-center">House Hold</h1>

<h2>Roomates</h2>
<p>This is a list of current roommmates in this house.</p>

<table class="table">
    <tr>
        <th>Full Name</th>
    </tr>
    @foreach (var r in Model.Roommates)
    {

        <tr>
            <td>@r.FirstName @r.LastName</td>
        </tr>
    }
</table>

    <hr>

    <h2>Bills</h2>
    <p>This is a list of current Bills in this house.</p>
    <table class="table">
        <tr>
            <th>Bill Name</th>
            <th>Amount</th>
            <th>Due Date</th>
        </tr>
        @foreach (var r in Model.Bills)
        {
            <tr>
                <td>@r.Name</td>
                <td>@r.Amount</td>
                <td>@r.DueDate</td>
            </tr>
        }
    </table>