@model YFS_MVC.ViewModels.HouseHoldViewModel

    <div class="container">
        <div class="row">
            <div class="col">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Add Payment</h4>
                    <hr />
                    

                    <table>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Payment.RoommateId)</td>
                            <td>@Html.DropDownListFor(model => model.Payment.RoommateId, new SelectList(Model.Roommates, "RoommateID", "FullName"), "Select")</td>
                            
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Payment.BillId)</td>
                            <td>@Html.DropDownListFor(model => model.Payment.BillId, new SelectList(Model.Bills, "ID", "BillName"), "Select")</td>
                        </tr>
                        
                        
                    </table>
                    </div>
                    <hr />
                    <div class="form-group">

                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Payment.Amount, htmlAttributes: new { @class = "control-label col-md-4" })
                        </div>
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Payment.Amount, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Payment.Amount, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </div>
                }




                @Html.ActionLink("Back to List", "Index")
            </div>
