@model IEnumerable<YFS_MVC.ViewModels.PaymentViewModel>

@{
    ViewBag.Title = "ListPayments";
}

<h2>ListPayments</h2>

<p>
    @Html.ActionLink("Create New", "AddPayment")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Payment.DatePaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment.AmountPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roommate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Payment.DatePaid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Payment.AmountPaid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Roommate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Bill)
    </td>


    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
