@model IEnumerable<YFS_MVC.ViewModels.PaymentViewModel>

@{
    ViewBag.Title = "WhoPaidWhat";
}

<div class="container row">
    <div class="col-md-9">
        <h2 class="text-info">Who Paid What</h2>
    </div>

    

</div>
<div class="container">
    <div class="row">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Bill)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountDue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roommate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment.AmountPaid)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(modelItem => item.Payment.Id)
                    <td>
                        @Html.DisplayFor(modelItem => item.Bill)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountDue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roommate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment.AmountPaid)
                    </td>

                    <td>
                        @Html.ActionLink("Add Payment", "AddPayment", new { roommateId = item.Payment.RoommateId, billId = item.Payment.BillId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Payment.Id }) |

                    </td>
                </tr>

            }

        </table>

    </div>
</div>
